dash_bootstrap_components==1.4.1
dash_bootstrap_templates==1.0.8
htmltools==0.2.1
pandas==1.5.3
plotly==5.9.0
psycopg2==2.9.3
python-dotenv==1.0.0
shiny==0.3.3
shinyswatch==0.2.3
shinywidgets==0.2.0
SQLAlchemy==2.0.12
